body {
	background-color: #999;
	font-family: helvetica neue;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 700px;
	padding: 60px;
	background-color: white;
}

section h2 {
	font-size: 1.17em;
	line-height: .7em;
}

	section h2 a {
		color: #555;
		font-weight: 400;
	}

section p {
	font-size: .9em;
}

section ul li {
	font-size: .9em;
}

table {
	line-height: 1.5em;
}

.left-td {
	max-width: 200px;
}

	.left-td h3 {
		font-size: 1.05em;
	}

	.right-td a {
		color: #555;
	}

.right-td {
	padding-left: 20px;
}

@media print {
	.page-wrapper {
		max-width: 100%;
		padding: 20px;
	}
}